body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.login-container {
  text-align: center;
  width: 300px; /* Ajustez selon la largeur désirée */
}
form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}
button[type="submit"],
button[type="reset"] {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}
button[type="reset"] {
  background-color: #6c757d;
}
button[type="submit"]:hover,
button[type="reset"]:hover {
  opacity: 0.9;
}
p {
  text-align: center;
}
a {
  color: #007bff;
}
